@model TelephoneDirectoryApp.Entity.UserProfile

<div class="container-md">
    <h2>Reset Password</h2>
    <form asp-action="ResetPassword" asp-controller="Account" name="frmResetPassword" method="post">
        <div class="form-group">
            <label for="txtUsername" class="control-label">Username: </label>
            <input type="text" name="Username" id="txtUsername" class="form-control" value=@Model.Username readonly />
        </div>

        <div class="form-group">
            <label for="txtOldPassword" class="control-label">Old Passwrod: </label>
            <input type="password" name="OldPassword" id="txtOldPassword" class="form-control"  placeholder="Old Password"/>
        </div>

        <div class="form-group">
            <label for="txtNewPassword" class="control-label">New Password: </label>
            <input type="password" name="NewPassword" id="txtNewPassword" class="form-control" placeholder="New Password" />
        </div>
        @if (ViewData["UnAuthorizedMessage"] != null)
        {
            <div>
                <h4 class="text-danger">@ViewData["UnAuthorizedMessage"]</h4>
            </div>
        }

        <div class="form-group">
            <button type="reset" class="btn btn-outline-primary">Cancel</button> &nbsp;&nbsp;
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>
